@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    --orgFirst : #FF9F1C;
    --orgColor : #FFBF69;
    --witColor : #FFFFFF;
    --secColor : #CBF3F0;
    --thrColor : #2EC4B6;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive
}

body,html,#main{
    width: 100%;
    height: 100%;
}

#rightPanel,#leftPanel{
    width: 50%;
    height: 100%;
}
#rightPanel{
    background-color: var(--orgFirst);
}
#leftPanel{
    background-color: var(--witColor);
}
.btnLogin{
    background-color: var(--thrColor);
    height: 40px;
    border: none;
    color: var(--secColor);
    border-radius: 5px
}
.desText{
    font-size: 20px;
    color: var(--witColor);
    transition: all 0.3s ease-out;
}
.desText:hover{
    color: #000;
    cursor: pointer;
}